@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*fuentes
font-family: "Gideon Roman", serif;
font-family: "Luxurious Roman", serif;
*/

/*---INDEX---*/

/*HEADER*/
header h1 {
    font-family: "Gideon Roman", serif;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

header {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 170px;
    width: 100%;
    text-align: center;
    font-family: "Gideon Roman", serif;
}

nav ul {
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul li a {
    font-family: "Gideon Roman", serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    display: flex;
    width: 100%;
}


/*MAIN*/

/*banner*/
.carousel-inner {
    height: 680px;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-right: 0;
    padding-right: 0;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
}

/*.banner {
    height: 200px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    background-image: url("../assets/img/banners/Banner-larga.png");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: center;
}
.banner img {
    width: 100%;
    height: 100%;
}*/

/*-----------------------------------------------*/
/*seccion productos*/
.productos {
    width: 100%;
    height: 650px;
    display: grid;
    background-color: #02556f;
    margin-bottom: 50px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "titulo-productos"
        "cajas-productos"
}

.titulo-productos h2 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 50px;
}

.cajas-productos {
    width: 100%;
    height: 400px;
    display: grid;
    background-color: #9b141b;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-template-areas:
        "retratos espejos fundas tarjeteros";
    /*justify-content: space-around;
    justify-items:;
    align-items: center;*/
    align-self: self-start;
    padding-left: 30px;
    padding-right: 30px;
}

.retratos {
    display: grid;
    background-color: aqua;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 20px;
    object-fit: cover;
}

.img1 {
    box-shadow: 16px -10px 50px rgba(236, 176, 41, 1);
    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
    overflow: hidden;
}

.titulo1 {
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
}

.retratos h1 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px;
    overflow: hidden;
}

.espejos {
    display: grid;
    background-color: aqua;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 20px;
    object-fit: cover;
}

.img2 {
    box-shadow: 16px -10px 50px rgba(236, 176, 41, 1);
    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
    overflow: hidden;
}

.titulo2 {
    grid-column: 1/2;
    grid-row: 2/3;
    order: 2;
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
}

.espejos h1 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px;
}

.fundas {
    display: grid;
    background-color: aqua;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 20px;
    object-fit: cover;
}

.img3 {
    box-shadow: 16px -10px 50px rgba(236, 176, 41, 1);
    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
}

.titulo3 {
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
}

.fundas h1 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px;
}

.tarjeteros {
    display: grid;
    background-color: aqua;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
}

.img4 {
    box-shadow: 16px -10px 50px rgba(236, 176, 41, 1);
    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
}

.titulo4 {
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
}

.tarjeteros h1 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px;
}


/*-----------------------------------------------*/
/*seccion tiktok*/
.tiktok {
    width: 100%;
    height: 780px;
    display: grid;
    background-color: #02556f;
    margin-bottom: 50px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "titulo-tiktok"
        "caja-ticktok"
}

.titulo-tiktok h2 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 50px;
}

.caja-tiktok {
    width: 100%;
    height: 600px;
    display: grid;
    background-color: #9b141b;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 540px;
    grid-template-areas:
        "tt1 tt2 tt3";
    align-self: self-start;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.caja-tiktok article {
    width: 100%;
    height: 100%;
}

.tt1 .tiktok-embed {
    display: grid;
    background-color: aqua;
    height: 580px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    object-fit: cover;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    border-radius: 10%
}

.tt2 .tiktok-embed {
    display: grid;
    background-color: aqua;
    height: 580px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 20px;
    object-fit: cover;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    border-radius: 10%
}

.tt3 .tiktok-embed {
    display: grid;
    background-color: aqua;
    height: 580px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 20px;
    object-fit: cover;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    border-radius: 10%
}


/*-----------------------------------------------*/
/*seccion compartir*/

.caja-compartir {
    width: 100%;
    height: 600px;
    display: grid;
    background-image: url(../assets/img/banners/Banner.png);
    background-size: cover;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-self: self-start;
    margin-bottom: 50px;
    align-items: center;
    justify-items: center;
}

.caja-compartir .fondo-blanco {
    width: 100%;
}

.fondo-blanco {
    width: 100%;
    height: 100%;
    background-color: rgba(228, 174, 189, 0.9);
    grid-column: 4/8;
    grid-row: 3/7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.obj1 {
    font-family: "Luxurious Roman", serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}

.obj2 {
    font-family: "Luxurious Roman", serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}

.obj3 {
    padding: 5px;
    font-size: 20px;
    background-color: #E98270;
    display: flex;
}

.obj3 img {
    width: 30px;
    height: 30px;
}

.boton-ig {
    font-family: "Gideon Roman", serif;
    font-size: 20px;
}

/*-----------------------------------------------*/
/*boton*/
.boton-contacto button {
    padding: 10px 10px 10px 40px;
    font-size: 20px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #ecb129c4;
}



/*-----------------------------------------------*/
/*FOOTER*/
.footer {
    background-color: #02556f;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.logos img {
    padding: 20px;
}