@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*fuentes
font-family: "Gideon Roman", serif;
font-family: "Luxurious Roman", serif;
*/

/*---INDEX---*/

/*HEADER*/
header h1 {
    font-family: "Gideon Roman", serif;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

header {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 170px;
    width: 100%;
    text-align: center;
    font-family: "Gideon Roman", serif;
}

nav ul {
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul li a {
    font-family: "Gideon Roman", serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    display: flex;
    width: 100%;
}


/*MAIN*/

/*banner*/
.carousel-inner {
    height: 680px;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-right: 0;
    padding-right: 0;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
}

/*.banner {
    height: 200px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    background-image: url("../assets/img/banners/Banner-larga.png");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: center;
}
.banner img {
    width: 100%;
    height: 100%;
}*/

/*-----------------------------------------------*/
/*seccion productos*/
.productos {
    width: 100%;
    height: 650px;
    display: grid;
    background-color: #02556f;
    margin-bottom: 50px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "titulo-productos"
        "cajas-productos"
}

.titulo-productos h2 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 50px;
}

.cajas-productos {
    width: 100%;
    height: 400px;
    display: grid;
    background-color: #9b141b;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-template-areas:
        "retratos espejos fundas tarjeteros";
    align-self: self-start;
    padding-left: 30px;
    padding-right: 30px;
}

.retratos {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 20px;
    object-fit: cover;
}

.img1 {
    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
    overflow: hidden;
}

.titulo1 {
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
}

.retratos h1 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px;
    overflow: hidden;
}

.espejos {
    display: grid;
    background-color: aqua;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 20px;
    object-fit: cover;
}

.img2 {
    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
    overflow: hidden;
    object-fit: cover;
}

.titulo2 {
    grid-column: 1/2;
    grid-row: 2/3;
    order: 2;
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
}

.espejos h1 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px;
}

.fundas {
    display: grid;
    background-color: aqua;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 20px;
    object-fit: cover;
}

.img3 {
    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
    object-fit: cover;
}

.titulo3 {
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
}

.fundas h1 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px;
}

.tarjeteros {
    display: grid;
    background-color: aqua;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
}

.img4 {

    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
    object-fit: cover;
}

.titulo4 {
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
}

.tarjeteros h1 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px;
}


/*-----------------------------------------------*/
/*seccion tiktok*/
.tiktok {
    width: 100%;
    height: 780px;
    display: grid;
    background-color: #02556f;
    margin-bottom: 50px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "titulo-tiktok"
        "caja-ticktok";
}

.titulo-tiktok h2 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 50px;
}

.caja-tiktok {
    width: 100%;
    height: 600px;
    display: grid;
    background-color: #9b141b;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 540px;
    grid-template-areas:
        "tt1 tt2 tt3";
    align-self: self-start;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.caja-tiktok article {
    width: 100%;
    height: 100%;
}

.tt1 .tiktok-embed {
    display: grid;
    background-color: aqua;
    height: 580px;
    width: 100%;
    grid-template-columns: 320px;
    grid-template-rows: 100%;
    object-fit: cover;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    border-radius: 10%;
    justify-content: center;
}

.tt2 .tiktok-embed {
    display: grid;
    background-color: aqua;
    height: 580px;
    width: 100%;
    grid-template-columns: 320px;
    grid-template-rows: 100%;
    object-fit: cover;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    border-radius: 10%;
    justify-content: center;
}

.tt3 .tiktok-embed {
    display: grid;
    background-color: aqua;
    height: 580px;
    width: 100%;
    grid-template-columns: 320px;
    object-fit: cover;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    border-radius: 10%;
    justify-content: center;
}


/*-----------------------------------------------*/
/*seccion compartir*/

.caja-compartir {
    width: 100%;
    height: 600px;
    display: grid;
    background-image: url(../assets/img/banners/Banner.png);
    background-size: cover;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-self: self-start;
    margin-bottom: 50px;
    align-items: center;
    justify-items: center;
}

.caja-compartir .fondo-blanco {
    width: 100%;
}

.fondo-blanco {
    width: 100%;
    height: 100%;
    background-color: rgba(228, 174, 189, 0.9);
    grid-column: 4/8;
    grid-row: 3/7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.obj1 {
    font-family: "Luxurious Roman", serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    text-align: center;
}

.obj2 {
    font-family: "Luxurious Roman", serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}

.obj3 {
    padding: 5px;
    font-size: 20px;
    background-color: #E98270;
    display: flex;
}

.obj3 img {
    width: 30px;
    height: 30px;
}

.boton-ig {
    font-family: "Gideon Roman", serif;
    font-size: 20px;
}

/*-----------------------------------------------*/
/*boton*/
.boton-contacto button {
    padding: 10px 10px 10px 40px;
    font-size: 20px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #ecb129c4;
}

/*-----------------------------------------------*/
/*FOOTER*/
.footer {
    background-color: #02556f;
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logos img {
    padding: 5px;
}

.logos a {
    width: 50px;
    padding: 10px;
    margin: 10px;
}


/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*+++PÁGINA CHROMÁTICA+++*/

.sobre-mi {
    display: grid;
    width: 100%;
    height: 100%;
    /*background-color: #02556f;*/
    margin-bottom: 50px;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10, 1fr);
}

.sobre-mi img {
    width: 100%;
}

.sobre-mi .foto-sobre-mi {
    grid-column: 1 / 2;
    grid-row: 1 /7;
    object-fit: cover;
}

.foto-sobre-mi {
    display: flex;
    margin: 80px;
    margin-right: 40px;
}

.foto-sobre-mi img {
    object-fit: cover;
}

.sobre-mi .sobre-mi-texto {
    text-align: center;
    justify-content: center;
    align-content: center;
    grid-column: 2 / 3;
    grid-row: 1 / 6;
}

.sobre-mi-texto {
    display: flex;
    margin: 80px;
    flex-direction: column;
    margin-left: 40px;
}

.sobre-mi h2 {
    font-family: "Luxurious Roman", serif;
    font-size: 50px;
}

.sobre-mi p {
    font-family: "Luxurious Roman", serif;
    font-size: 20px;
}

.sobre-mi .chromatica-texto {
    text-align: center;
    justify-content: center;
    align-content: center;
    grid-column: 1 / 2;
    grid-row: 6 / 11;
}

.chromatica-texto {
    display: flex;
    flex-direction: column;
    margin: 80px;
    margin-right: 40px;
}

.chromarica-texto h2 {
    font-family: "Luxurious Roman", serif;
    font-size: 50px;
}

.chromatica-texto p {
    font-family: "Luxurious Roman", serif;
    font-size: 20px;
}

.sobre-mi .foto-chromatica {
    grid-column: 2 / 3;
    grid-row: 5 / 11;
}

.foto-chromatica {
    display: flex;
    margin: 80px;
    margin-left: 40px;
}

.foto-chromatica img {
    object-fit: cover;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*+++PÁGINA FUNDAS+++*/

.caja-fundas {
    display: grid;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(13, 120px);
}

.caja-fundas img {
    width: 100%;
}

.caja-fundas .producto1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.producto1 {
    display: flex;
    margin: 30px 15px 15px 30px;
}

.producto1 img {
    object-fit: cover;
}

.caja-fundas .producto2 {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}

.producto2 {
    display: flex;
    margin: 15px 15px 15px 15px;
}

.producto2 img {
    object-fit: cover;
}

.caja-fundas .producto3 {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
}

.producto3 {
    display: flex;
    margin: 30px 30px 15px 15px;
}

.producto3 img {
    object-fit: cover;
}

.caja-fundas .producto4 {
    grid-column: 1 / 2;
    grid-row: 5 / 9;
}

.producto4 {
    display: flex;
    margin: 15px 15px 15px 30px;
}

.producto4 img {
    object-fit: cover;
}

.caja-fundas .producto5 {
    grid-column: 2 / 3;
    grid-row: 6 / 10;
}

.producto5 {
    display: flex;
    margin: 15px 15px 15px 15px;
}

.producto5 img {
    object-fit: cover;
}

.caja-fundas .producto6 {
    grid-column: 3 / 4;
    grid-row: 5 / 9;
}

.producto6 {
    display: flex;
    margin: 15px 30px 15px 15px;
}

.producto6 img {
    object-fit: cover;
}

.caja-fundas .producto7 {
    grid-column: 1 / 2;
    grid-row: 9 / 13;
}

.producto7 {
    display: flex;
    margin: 15px 15px 15px 30px;
}

.producto7 img {
    object-fit: cover;
}

.caja-fundas .producto8 {
    grid-column: 2 / 3;
    grid-row: 10 / 14;
}

.producto8 {
    display: flex;
    margin: 15px 15px 15px 15px;
}

.producto8 img {
    object-fit: cover;
}

.caja-fundas .producto9 {
    grid-column: 3 / 4;
    grid-row: 9 / 13;
}

.producto9 {
    display: flex;
    margin: 15px 30px 15px 15px;
}

.producto9 img {
    object-fit: cover;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*+++PÁGINA ESPEJOS+++*/

.caja-espejos {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #02556f;
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(13, 120px);
}

.caja-espejos img {
    width: 100%;
}

.caja-espejos .producto1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.caja-espejos .producto2 {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}

.caja-espejos .producto3 {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
}

.caja-espejos .producto4 {
    grid-column: 1 / 2;
    grid-row: 5 / 9;
}

.caja-espejos .producto5 {
    grid-column: 2 / 3;
    grid-row: 6 / 10;
}

.caja-espejos .producto6 {
    grid-column: 3 / 4;
    grid-row: 5 / 9;
}

.caja-espejos .producto7 {
    grid-column: 1 / 2;
    grid-row: 9 / 13;
}

.caja-espejos .producto8 {
    grid-column: 2 / 3;
    grid-row: 10 / 15;
}


/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*+++PÁGINA CONTÁCTAME+++*/

.caja-principal {
    width: 100%;
    height: 650px;
    display: grid;
    background-image: url(../assets/img/banners/banner-2.jpeg);
    background-size: cover;
    background-position: center;
    grid-template-columns: 100%;
    margin: 50px 0px 100px 0px;
}

.items {
    background-color: rgba(130, 104, 25, 0.5);
    display: grid;
    width: 100%;
    height: 650px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    justify-items: center;
}

.caja-contacto fieldset {
    width: 100%;
}

.titulo {
    width: 100%;
    grid-column: 2/4;
    grid-row: 1/2;
}

.correo {
    width: 100%;
    grid-column: 2/4;
    grid-row: 2/4;
}

.caja-contacto {
    grid-column: 2/4;
    grid-row: 4/8;
    width: 100%;
}

.boton-enviar {
    grid-column: 3/4;
    grid-row: 8/9;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.formulario input {
    width: 100%;
}

.formulario textarea {
    width: 100%;
}

.items h1 {
    margin-top: 50px;
    font-family: "Gideon Roman", serif;
    font-size: 50px;
    text-align: center;
}

.items h2 {
    font-family: "Gideon Roman", serif;
    font-size: 20px;
    text-align: center;
    align-self: flex-start;
    margin-top: 50px;
}

@media (max-width: 1024px) {
    .productos {
        height: 550px;
    }

    .cajas-productos {
        height: 350px;
    }

    .retratos {
        height: 350px;
    }

    .espejos {
        height: 350px;
    }

    .fundas {
        height: 350px;
    }

    .tarjeteros {
        height: 350px;
    }

    .tiktok {
        height: 750px;
    }
    .caja-tiktok {
        height: 500px;
    }
    .tt1 .tiktok-embed {
        grid-template-columns: 320px;
        height: 520px;
    }

    .tt2 .tiktok-embed {
        grid-template-columns: 320px;
        height: 520px;
    }

    .tt3 .tiktok-embed {
        grid-template-columns: 320px;
        height: 520px;
    }
}