@charset "UTF-8";
/*utilities*/
/*base*/
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*layout*/
header {
  background-color: white;
  color: black;
  height: 170px;
  width: 100%;
  text-align: center;
  font-family: "Gideon Roman", serif; }
  header h1 {
    font-family: "Gideon Roman", serif;
    color: black;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
    justify-self: center; }

nav ul {
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 30px 0px 30px; }
  nav ul li a {
    font-family: "Gideon Roman", serif;
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
    display: flex;
    width: 100%; }

/*-----------------------------------------------*/
/*seccion productos*/
.productos {
  width: 100%;
  height: 650px;
  background-color: #9B141B;
  margin-bottom: 50px;
  display: grid;
  gap: 0;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  align-items: center;
  justify-items: center;
  grid-template-areas: "titulo-productos" "cajas-productos"; }
  .productos .titulo-productos h2 {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 50px; }

.cajas-productos {
  width: 100%;
  height: 400px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px;
  align-items: none;
  justify-items: none;
  grid-template-areas: "retratos espejos fundas tarjeteros";
  align-self: self-start;
  padding-left: 30px;
  padding-right: 30px; }
  .cajas-productos .retratos {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 20px;
    object-fit: cover; }
    .cajas-productos .retratos .titulo1 {
      grid-column: 1/2;
      grid-row: 3/5;
      order: 2;
      background-color: rgba(220, 224, 228, 0.5);
      overflow: hidden;
      text-align: center;
      font-family: "Gideon Roman", serif;
      font-size: 20px;
      overflow: hidden; }
    .cajas-productos .retratos .img1 {
      border-radius: 18% 5%;
      width: 100%;
      height: 100%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 5;
      order: 1;
      overflow: hidden; }
    .cajas-productos .retratos .img1:hover {
      transform: scale(1.1); }

.espejos {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 20px;
  object-fit: cover; }
  .espejos .titulo2 {
    grid-column: 1/2;
    grid-row: 2/3;
    order: 2;
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px; }
  .espejos .img2 {
    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
    overflow: hidden;
    object-fit: cover; }
  .espejos .img2:hover {
    transform: scale(1.1); }

.fundas {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 20px;
  object-fit: cover; }
  .fundas .titulo3 {
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px; }
  .fundas .img3 {
    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
    object-fit: cover; }
  .fundas .img3:hover {
    transform: scale(1.1); }

.tarjeteros {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 20px;
  object-fit: cover; }
  .tarjeteros .titulo4 {
    grid-column: 1/2;
    grid-row: 3/5;
    order: 2;
    background-color: rgba(220, 224, 228, 0.5);
    overflow: hidden;
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 20px; }
  .tarjeteros .img4 {
    border-radius: 18% 5%;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    order: 1;
    object-fit: cover; }
  .tarjeteros .img4:hover {
    transform: scale(1.1); }

/*-----------------------------------------------*/
/*seccion tiktok*/
.tiktok {
  width: 100%;
  height: 780px;
  background-color: #33997B;
  margin-bottom: 50px;
  display: grid;
  gap: 0;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  align-items: center;
  justify-items: center;
  grid-template-areas: "titulo-tiktok" "caja-ticktok"; }
  .tiktok .titulo-tiktok {
    text-align: center;
    font-family: "Gideon Roman", serif; }
    .tiktok .titulo-tiktok .tiktok-titulo {
      font-size: 50px; }
  .tiktok .caja-tiktok {
    width: 100%;
    height: 600px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 240;
    align-items: center;
    justify-items: center;
    grid-template-areas: "tt1 tt2 tt3";
    align-self: self-start;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px; }
    .tiktok .caja-tiktok .tt1 {
      width: 100%;
      height: 100%; }
      .tiktok .caja-tiktok .tt1 .tiktok-embed {
        height: 580px;
        width: 100%;
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: 100%;
        align-self: flex-start;
        margin: 0;
        padding: 0;
        border-radius: 10%;
        justify-content: center; }
    .tiktok .caja-tiktok .tt2 {
      width: 100%;
      height: 100%; }
      .tiktok .caja-tiktok .tt2 .tiktok-embed {
        display: grid;
        height: 580px;
        width: 100%;
        grid-template-columns: 320px;
        grid-template-rows: 100%;
        object-fit: cover;
        align-self: flex-start;
        margin: 0;
        padding: 0;
        border-radius: 10%;
        justify-content: center; }
    .tiktok .caja-tiktok .tt3 {
      width: 100%;
      height: 100%; }
      .tiktok .caja-tiktok .tt3 .tiktok-embed {
        display: grid;
        height: 580px;
        width: 100%;
        grid-template-columns: 320px;
        grid-template-rows: 100%;
        object-fit: cover;
        align-self: flex-start;
        margin: 0;
        padding: 0;
        border-radius: 10%;
        justify-content: center; }

/*-----------------------------------------------*/
/*seccion compartir*/
.caja-compartir {
  width: 100%;
  height: 600px;
  display: grid;
  background-image: url(../assets/img/banners/Banner.png);
  background-size: cover;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-self: self-start;
  margin-bottom: 50px;
  align-items: center;
  justify-items: center; }
  .caja-compartir .fondo-blanco {
    width: 100%;
    height: 100%;
    background-color: rgba(228, 174, 189, 0.9);
    grid-column: 4/8;
    grid-row: 3/7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; }
    .caja-compartir .fondo-blanco .obj1 {
      font-family: "Luxurious Roman", serif;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 25px;
      text-align: center; }
    .caja-compartir .fondo-blanco .obj2 {
      font-family: "Luxurious Roman", serif;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 25px; }
    .caja-compartir .fondo-blanco .obj3 {
      padding: 5px;
      font-size: 20px;
      background-color: #E98270;
      display: flex;
      border-radius: 20px; }
      .caja-compartir .fondo-blanco .obj3 img {
        width: 30px;
        height: 30px; }
      .caja-compartir .fondo-blanco .obj3 .boton-ig {
        font-family: "Gideon Roman", serif;
        font-size: 20px; }

/*-----------------------------------------------*/
/*boton*/
.boton-contacto button {
  padding: 10px 10px 10px 20px;
  font-family: "Gideon Roman", serif;
  border-radius: 10px;
  font-size: 20px;
  position: fixed;
  right: 60px;
  bottom: 50px;
  background-color: #ecb129c4; }
  .boton-contacto button img {
    width: 30px;
    height: 30px; }

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*+++PÁGINA CHROMÁTICA+++*/
.sobre-mi {
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(10, 1fr); }
  .sobre-mi img {
    width: 100%;
    object-fit: cover; }
  .sobre-mi .sobre-mi-texto {
    text-align: center;
    justify-content: center;
    align-content: center;
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    display: flex;
    margin: 80px;
    flex-direction: column;
    margin-left: 40px; }
    .sobre-mi .sobre-mi-texto h2 {
      font-family: "Luxurious Roman", serif;
      font-size: 50px; }
    .sobre-mi .sobre-mi-texto p {
      font-family: "Luxurious Roman", serif;
      font-size: 20px; }
  .sobre-mi .foto-sobre-mi {
    grid-column: 1 / 2;
    grid-row: 1 /7;
    display: flex;
    margin: 80px;
    margin-right: 40px;
    object-fit: cover; }
  .sobre-mi .chromatica-texto {
    text-align: center;
    justify-content: center;
    align-content: center;
    grid-column: 1 / 2;
    grid-row: 6 / 11;
    display: flex;
    flex-direction: column;
    margin: 80px;
    margin-right: 40px; }
    .sobre-mi .chromatica-texto h2 {
      font-family: "Luxurious Roman", serif;
      font-size: 50px; }
    .sobre-mi .chromatica-texto p {
      font-family: "Luxurious Roman", serif;
      font-size: 20px; }
  .sobre-mi .foto-chromatica {
    grid-column: 2 / 3;
    grid-row: 5 / 11;
    display: flex;
    margin: 80px;
    margin-left: 40px;
    margin-left: 40px; }

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*+++PÁGINA FUNDAS+++*/
.caja-fundas {
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(13, 120px); }
  .caja-fundas img {
    width: 100%; }
  .caja-fundas .producto1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: flex;
    margin: 30px 15px 15px 30px; }
    .caja-fundas .producto1 img {
      object-fit: cover; }
  .caja-fundas .producto2 {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: flex;
    margin: 15px 15px 15px 15px; }
    .caja-fundas .producto2 img {
      object-fit: cover; }
  .caja-fundas .producto3 {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
    display: flex;
    margin: 30px 30px 15px 15px; }
    .caja-fundas .producto3 img {
      object-fit: cover; }
  .caja-fundas .producto4 {
    grid-column: 1 / 2;
    grid-row: 5 / 9;
    display: flex;
    margin: 15px 15px 15px 30px; }
    .caja-fundas .producto4 img {
      object-fit: cover; }
  .caja-fundas .producto5 {
    grid-column: 2 / 3;
    grid-row: 6 / 10;
    display: flex;
    margin: 15px 15px 15px 15px; }
    .caja-fundas .producto5 img {
      object-fit: cover; }
  .caja-fundas .producto6 {
    grid-column: 3 / 4;
    grid-row: 5 / 9;
    display: flex;
    margin: 15px 30px 15px 15px; }
    .caja-fundas .producto6 img {
      object-fit: cover; }
  .caja-fundas .producto7 {
    grid-column: 1 / 2;
    grid-row: 9 / 13;
    display: flex;
    margin: 15px 15px 15px 30px; }
    .caja-fundas .producto7 img {
      object-fit: cover; }
  .caja-fundas .producto8 {
    grid-column: 2 / 3;
    grid-row: 10 / 14;
    display: flex;
    margin: 15px 15px 15px 15px; }
    .caja-fundas .producto8 img {
      object-fit: cover; }
  .caja-fundas .producto9 {
    grid-column: 3 / 4;
    grid-row: 9 / 13;
    display: flex;
    margin: 15px 30px 15px 15px; }
    .caja-fundas .producto9 img {
      object-fit: cover; }

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*+++PÁGINA ESPEJOS+++*/
.caja-espejos {
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(13, 120px); }
  .caja-espejos img {
    width: 100%; }
  .caja-espejos .producto1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: flex;
    margin: 30px 15px 15px 30px; }
    .caja-espejos .producto1 img {
      object-fit: cover; }
  .caja-espejos .producto2 {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: flex;
    margin: 15px 15px 15px 15px; }
    .caja-espejos .producto2 img {
      object-fit: cover; }
  .caja-espejos .producto3 {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
    display: flex;
    margin: 30px 30px 15px 15px; }
    .caja-espejos .producto3 img {
      object-fit: cover; }
  .caja-espejos .producto4 {
    grid-column: 1 / 2;
    grid-row: 5 / 9;
    display: flex;
    margin: 15px 15px 15px 30px; }
    .caja-espejos .producto4 img {
      object-fit: cover; }
  .caja-espejos .producto5 {
    grid-column: 2 / 3;
    grid-row: 6 / 10;
    display: flex;
    margin: 15px 15px 15px 15px; }
    .caja-espejos .producto5 img {
      object-fit: cover; }
  .caja-espejos .producto6 {
    grid-column: 3 / 4;
    grid-row: 5 / 9;
    display: flex;
    margin: 15px 30px 15px 15px; }
    .caja-espejos .producto6 img {
      object-fit: cover; }
  .caja-espejos .producto7 {
    grid-column: 1 / 2;
    grid-row: 9 / 13;
    display: flex;
    margin: 15px 15px 15px 30px; }
    .caja-espejos .producto7 img {
      object-fit: cover; }
  .caja-espejos .producto8 {
    grid-column: 2 / 3;
    grid-row: 10 / 14;
    display: flex;
    margin: 15px 15px 15px 15px; }
    .caja-espejos .producto8 img {
      object-fit: cover; }
  .caja-espejos .producto9 {
    grid-column: 3 / 4;
    grid-row: 9 / 13;
    display: flex;
    margin: 15px 30px 15px 15px; }
    .caja-espejos .producto9 img {
      object-fit: cover; }

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*+++PÁGINA CONTÁCTAME+++*/
.caja-principal {
  width: 100%;
  height: 650px;
  display: grid;
  background-image: url(../assets/img/banners/banner-2.jpeg);
  background-size: cover;
  background-position: center;
  grid-template-columns: 100%;
  margin: 50px 0px 100px 0px; }
  .caja-principal .items {
    background-color: rgba(130, 104, 25, 0.5);
    display: grid;
    width: 100%;
    height: 650px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    justify-items: center; }
    .caja-principal .items h1 {
      margin-top: 50px;
      font-family: "Gideon Roman", serif;
      font-size: 50px;
      text-align: center; }
    .caja-principal .items h2 {
      font-family: "Gideon Roman", serif;
      font-size: 20px;
      text-align: center;
      align-self: flex-start;
      margin-top: 50px; }
    .caja-principal .items fieldset {
      width: 100%; }
    .caja-principal .items .titulo {
      width: 100%;
      grid-column: 2/4;
      grid-row: 1/2; }
    .caja-principal .items .correo {
      width: 100%;
      grid-column: 2/4;
      grid-row: 2/4; }
    .caja-principal .items .caja-contacto {
      grid-column: 2/4;
      grid-row: 4/8;
      width: 100%; }
    .caja-principal .items .boton-enviar {
      grid-column: 3/4;
      grid-row: 8/9;
      padding: 12.5px 30px;
      border: 0;
      border-radius: 100px;
      background-color: #2ba8fb;
      color: #ffffff;
      font-weight: Bold;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
    .caja-principal .items .boton-enviar:hover {
      background-color: #6fc5ff;
      box-shadow: 0 0 20px #6fc5ff50;
      transform: scale(1.1); }
    .caja-principal .items .boton-enviar:active {
      background-color: #3d94cf;
      transition: all 0.25s;
      -webkit-transition: all 0.25s;
      box-shadow: none;
      transform: scale(0.98); }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  border: 0; }
  .formulario input {
    width: 350px; }
  .formulario textarea {
    width: 350px; }

.footer {
  background-color: #02556f;
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .footer img {
    padding: 5px; }
  .footer a {
    width: 50px;
    padding: 10px;
    margin: 10px; }

/*components*/
.container-fluid {
  padding: 0;
  object-fit: cover; }

.carousel-inner {
  height: 680px;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 50px;
  margin-right: 0;
  padding-right: 0;
  background-position: bottom; }
  .carousel-inner .carousel-item {
    margin: 0;
    background-position: bottom; }
    .carousel-inner .carousel-item img {
      height: 100%;
      width: 100%;
      padding: 0;
      object-fit: cover; }

/*mediaqueries*/
@media (max-width: 1024px) {
  .productos {
    height: 550px; }
    .productos .cajas-productos {
      height: 350px; }
      .productos .cajas-productos .retratos {
        height: 350px; }
    .productos .espejos {
      height: 350px; }
    .productos .fundas {
      height: 350px; }
    .productos .tarjeteros {
      height: 350px; }
  .tiktok {
    height: 750px; }
    .tiktok .caja-tiktok {
      height: 500px; }
      .tiktok .caja-tiktok .tt1 .tiktok-embed {
        grid-template-columns: 320px;
        height: 520px; }
      .tiktok .caja-tiktok .tt2 .tiktok-embed {
        grid-template-columns: 320px;
        height: 520px; }
      .tiktok .caja-tiktok .tt3 .tiktok-embed {
        grid-template-columns: 320px;
        height: 520px; }
  .caja-compartir {
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat; }
    .caja-compartir .fondo-blanco {
      grid-column: 3/9; } }

@media (max-width: 768px) {
  /*+++INDEX+++*/
  .titulo-nav {
    font-size: 40px; }
  .elementos-nav {
    font-size: 15px; }
  .container-fluid {
    height: 400px;
    margin-bottom: 60px; }
    .container-fluid .carousel-banner {
      height: 400px;
      margin-bottom: 60px; }
      .container-fluid .carousel-banner .carousel-inner {
        margin-bottom: 60px;
        padding: 0;
        width: 100%;
        height: 400px; }
        .container-fluid .carousel-banner .carousel-inner .carousel-item img {
          height: 400px;
          object-fit: cover;
          background-position: center center; }
  .productos {
    height: 430px; }
    .productos .titulo-productos h2 {
      font-size: 40px; }
    .productos .cajas-productos {
      height: 300px;
      grid-template-rows: 300px; }
      .productos .cajas-productos .retratos {
        grid-template-rows: 130px 130px; }
        .productos .cajas-productos .retratos .titulo1 {
          grid-row: 2/3;
          align-content: flex-end;
          background-color: rgba(220, 224, 228, 0); }
        .productos .cajas-productos .retratos .img1 {
          grid-row: 1/3; }
      .productos .cajas-productos .espejos {
        grid-template-rows: 130px 130px; }
        .productos .cajas-productos .espejos .titulo2 {
          grid-row: 2/3;
          align-content: flex-end;
          background-color: rgba(220, 224, 228, 0); }
        .productos .cajas-productos .espejos .img2 {
          grid-row: 1/3; }
      .productos .cajas-productos .fundas {
        grid-template-rows: 130px 130px; }
        .productos .cajas-productos .fundas .titulo3 {
          grid-row: 2/3;
          align-content: flex-end;
          background-color: rgba(220, 224, 228, 0); }
        .productos .cajas-productos .fundas .img3 {
          grid-row: 1/3; }
      .productos .cajas-productos .tarjeteros {
        grid-template-rows: 130px 130px; }
        .productos .cajas-productos .tarjeteros .titulo4 {
          grid-row: 2/3;
          align-content: flex-end;
          background-color: rgba(220, 224, 228, 0); }
        .productos .cajas-productos .tarjeteros .img4 {
          grid-row: 1/3; }
  .tiktok .titulo-tiktok {
    text-align: center;
    font-family: "Gideon Roman", serif; }
    .tiktok .titulo-tiktok .tiktok-titulo {
      font-size: 50px; }
  .caja-compartir {
    grid-template-rows: repeat(6, 1fr);
    height: 450px;
    background-size: contain;
    margin: 0; }
    .caja-compartir .fondo-blanco {
      grid-row: 2/5; }
  /*+++CHROMATICA+++*/
  .foto-sobre-mi {
    display: flex;
    margin: 50px;
    margin-right: 30px; }
    .foto-sobre-mi img {
      height: 500px; }
  .sobre-mi .sobre-mi-texto {
    margin: 60px;
    margin-left: 30px; }
    .sobre-mi .sobre-mi-texto h2 {
      font-size: 40px; }
    .sobre-mi .sobre-mi-texto p {
      font-size: 15px; }
  .foto-chromatica {
    display: flex;
    margin: 50px;
    margin-right: 30px; }
    .foto-chromatica img {
      height: 500px; }
  .chromatica-texto {
    margin: 60px;
    margin-right: 30px; }
    .chromatica-texto h2 {
      font-size: 40px; }
    .chromatica-texto p {
      font-size: 15px; }
  .caja-fundas {
    height: 1200px;
    grid-template-rows: repeat(8, 120px); }
    .caja-fundas .producto1 img {
      height: 350px; }
    .caja-fundas .producto2 img {
      height: 350px;
      margin-top: -20px; }
    .caja-fundas .producto3 img {
      height: 350px; }
    .caja-fundas .producto4 {
      grid-column: 1 / 2;
      grid-row: 4/7; }
      .caja-fundas .producto4 img {
        height: 350px;
        margin-top: 30px; }
    .caja-fundas .producto5 {
      grid-column: 2 / 3;
      grid-row: 5/8; }
      .caja-fundas .producto5 img {
        height: 350px; }
    .caja-fundas .producto6 {
      grid-column: 3/4;
      grid-row: 4/7; }
      .caja-fundas .producto6 img {
        height: 350px;
        margin-top: 30px; }
    .caja-fundas .producto7 {
      grid-column: 1 / 2;
      grid-row: 7/10; }
      .caja-fundas .producto7 img {
        height: 350px;
        margin-top: 45px; }
    .caja-fundas .producto8 {
      grid-column: 2/3;
      grid-row: 8/11; }
      .caja-fundas .producto8 img {
        height: 350px;
        margin-top: 15px; }
    .caja-fundas .producto9 {
      grid-column: 3/4;
      grid-row: 7/10; }
      .caja-fundas .producto9 img {
        height: 350px;
        margin-top: 45px; }
  .caja-espejos {
    height: 1200px;
    grid-template-rows: repeat(8, 120px); }
    .caja-espejos .producto1 img {
      height: 350px; }
    .caja-espejos .producto2 img {
      height: 350px;
      margin-top: -20px; }
    .caja-espejos .producto3 img {
      height: 350px; }
    .caja-espejos .producto4 {
      grid-column: 1 / 2;
      grid-row: 4/7; }
      .caja-espejos .producto4 img {
        height: 350px;
        margin-top: 30px; }
    .caja-espejos .producto5 {
      grid-column: 2 / 3;
      grid-row: 5/8; }
      .caja-espejos .producto5 img {
        height: 350px; }
    .caja-espejos .producto6 {
      grid-column: 3/4;
      grid-row: 4/7; }
      .caja-espejos .producto6 img {
        height: 350px;
        margin-top: 30px; }
    .caja-espejos .producto7 {
      grid-column: 1 / 2;
      grid-row: 7/10; }
      .caja-espejos .producto7 img {
        height: 350px;
        margin-top: 45px; }
    .caja-espejos .producto8 {
      grid-column: 2/3;
      grid-row: 8/11; }
      .caja-espejos .producto8 img {
        height: 350px;
        margin-top: 15px; }
  .caja-principal {
    height: 500px;
    margin: 0;
    margin-bottom: 80px; }
    .caja-principal .items {
      height: 500px; }
      .caja-principal .items h1 {
        margin-top: 30px;
        font-family: "Gideon Roman", serif;
        font-size: 40px;
        text-align: center; }
      .caja-principal .items h2 {
        font-family: "Gideon Roman", serif;
        font-size: 18px;
        text-align: center;
        align-self: flex-start;
        margin-top: 20px; }
      .caja-principal .items .boton-enviar {
        padding: 8.5px 20px;
        border: 0;
        border-radius: 100px; }
  .formulario {
    margin-top: -50px; } }

@media (max-width: 390px) {
  header {
    height: 100px; }
    header .titulo-nav {
      font-size: 20px;
      padding: 20px 0px 10px 0px;
      letter-spacing: 4px;
      justify-content: space-between; }
    header .elementos-nav a {
      font-size: 9px;
      letter-spacing: 2px;
      font-weight: 500; }
    header .elementos-nav ul {
      justify-content: center;
      gap: 15px; }
  .container-fluid {
    height: 200px;
    margin-bottom: 60px; }
    .container-fluid .carousel-banner {
      height: 200px;
      margin-bottom: 60px; }
      .container-fluid .carousel-banner .carousel-inner {
        margin-bottom: 60px;
        padding: 0;
        width: 100%;
        height: 200px; }
        .container-fluid .carousel-banner .carousel-inner .carousel-item img {
          height: 200px;
          object-fit: cover;
          background-position: center center; }
  .productos {
    height: 200px;
    margin-top: 50px;
    align-self: center;
    margin-bottom: 30px; }
    .productos .titulo-productos h2 {
      font-size: 20px; }
    .productos .cajas-productos {
      height: 120px;
      grid-template-rows: 120px;
      padding: 0px 10px;
      gap: .625rem; }
      .productos .cajas-productos .retratos {
        grid-template-rows: 60px 60px; }
        .productos .cajas-productos .retratos .img1 {
          grid-row: 1/3; }
        .productos .cajas-productos .retratos .titulo1 {
          grid-row: 1/3;
          align-content: flex-end; }
        .productos .cajas-productos .retratos h1 {
          font-size: 15px; }
      .productos .cajas-productos .espejos {
        grid-template-rows: 60px 60px; }
        .productos .cajas-productos .espejos .img2 {
          grid-row: 1/3; }
        .productos .cajas-productos .espejos .titulo2 {
          grid-row: 1/3;
          align-content: flex-end; }
        .productos .cajas-productos .espejos h1 {
          font-size: 15px; }
      .productos .cajas-productos .fundas {
        grid-template-rows: 60px 60px; }
        .productos .cajas-productos .fundas .img3 {
          grid-row: 1/3; }
        .productos .cajas-productos .fundas .titulo3 {
          grid-row: 1/3;
          align-content: flex-end; }
        .productos .cajas-productos .fundas h1 {
          font-size: 15px; }
      .productos .cajas-productos .tarjeteros {
        grid-template-rows: 60px 60px; }
        .productos .cajas-productos .tarjeteros .img4 {
          grid-row: 1/3; }
        .productos .cajas-productos .tarjeteros .titulo4 {
          grid-row: 1/3;
          align-content: flex-end; }
        .productos .cajas-productos .tarjeteros h1 {
          font-size: 15px; }
  .tiktok {
    height: 250px;
    margin-bottom: 100px; }
    .tiktok .titulo-tiktok h2 {
      font-size: 20px; }
    .tiktok .caja-tiktok {
      height: 250px;
      grid-template-columns: 100px 100px 100px; }
      .tiktok .caja-tiktok .tt1 {
        width: 100%; }
        .tiktok .caja-tiktok .tt1 .tiktok-embed {
          width: 100px;
          height: 250px;
          grid-template-columns: 100px; }
      .tiktok .caja-tiktok .tt2 {
        width: 100%; }
        .tiktok .caja-tiktok .tt2 .tiktok-embed {
          width: 100px;
          height: 250px;
          grid-template-columns: 100px; }
      .tiktok .caja-tiktok .tt3 {
        width: 100%; }
        .tiktok .caja-tiktok .tt3 .tiktok-embed {
          width: 100px;
          height: 250px;
          grid-template-columns: 100px; }
  .caja-compartir {
    grid-template-rows: repeat(10, 1fr);
    height: 250px;
    background-size: cover;
    margin-bottom: 30px; }
    .caja-compartir .fondo-blanco {
      grid-row: 4/8;
      gap: 5px; }
      .caja-compartir .fondo-blanco .obj1 {
        padding-left: 2px;
        padding-right: 2px;
        font-size: 13px;
        text-align: center; }
      .caja-compartir .fondo-blanco .obj2 {
        padding-left: 2px;
        padding-right: 2px;
        font-size: 13px; }
      .caja-compartir .fondo-blanco .obj3 {
        padding: 2px;
        background-color: #E98270;
        display: flex;
        align-items: center;
        text-align: center; }
        .caja-compartir .fondo-blanco .obj3 img {
          width: 15px;
          height: 15px; }
        .caja-compartir .fondo-blanco .obj3 .boton-ig {
          font-family: "Gideon Roman", serif;
          font-size: 10px; }
  .footer {
    height: 80px; }
    .footer .logos {
      justify-items: space-around; }
      .footer .logos a {
        width: 40px;
        padding: 0;
        margin: 0; }
      .footer .logos img {
        padding: 5px;
        width: 40px; }
  .boton-contacto button {
    padding: 7px 7px 7px 8px;
    font-family: "Gideon Roman", serif;
    border-radius: 10px;
    font-size: 10px;
    position: fixed;
    right: 10px;
    bottom: 15px;
    background-color: #ecb129c4; }
    .boton-contacto button img {
      width: 15px;
      height: 15px; }
  .sobre-mi {
    grid-template-rows: repeat(8, 1fr);
    margin-top: -30px;
    height: 500px; }
    .sobre-mi .chromatica-texto {
      grid-column: 1 / 2;
      grid-row: 5 / 8;
      margin: 25px;
      margin-top: 40px;
      margin-right: 12.5px; }
      .sobre-mi .chromatica-texto h2 {
        font-size: 20px; }
      .sobre-mi .chromatica-texto p {
        font-size: 8px; }
    .sobre-mi .foto-chromatica {
      grid-column: 2 / 3;
      grid-row: 5/8;
      margin: 25px;
      margin-left: 12.5px;
      height: 250px; }
      .sobre-mi .foto-chromatica img {
        height: 250px; }
    .sobre-mi .foto-sobre-mi {
      display: flex;
      margin: 25px;
      margin-right: 12.5px; }
      .sobre-mi .foto-sobre-mi img {
        height: 250px; }
    .sobre-mi .sobre-mi-texto {
      margin: 25px;
      margin-left: 12.5px;
      height: 220px; }
      .sobre-mi .sobre-mi-texto h2 {
        font-size: 20px; }
      .sobre-mi .sobre-mi-texto p {
        font-size: 8px; }
  .caja-fundas {
    height: 600px;
    grid-template-rows: repeat(5, 120px);
    margin-bottom: 0;
    margin-top: -30px; }
    .caja-fundas .producto1 img {
      height: 150px; }
    .caja-fundas .producto2 img {
      height: 150px;
      margin-top: -45px; }
    .caja-fundas .producto3 img {
      height: 150px; }
    .caja-fundas .producto4 {
      grid-column: 1 / 2;
      grid-row: 2/4; }
      .caja-fundas .producto4 img {
        height: 150px;
        margin-top: 60px; }
    .caja-fundas .producto5 {
      grid-column: 2 / 3;
      grid-row: 3/5; }
      .caja-fundas .producto5 img {
        height: 150px; }
    .caja-fundas .producto6 {
      grid-column: 3/4;
      grid-row: 2/4; }
      .caja-fundas .producto6 img {
        height: 150px;
        margin-top: 60px; }
    .caja-fundas .producto7 {
      grid-column: 1 / 2;
      grid-row: 3/5; }
      .caja-fundas .producto7 img {
        height: 150px;
        margin-top: 105px; }
    .caja-fundas .producto8 {
      grid-column: 2/3;
      grid-row: 4/6; }
      .caja-fundas .producto8 img {
        height: 150px;
        margin-top: 45px; }
    .caja-fundas .producto9 {
      grid-column: 3/4;
      grid-row: 3/5; }
      .caja-fundas .producto9 img {
        height: 150px;
        margin-top: 105px; }
  .caja-espejos {
    height: 600px;
    grid-template-rows: repeat(5, 120px);
    margin-bottom: 0;
    margin-top: -30px; }
    .caja-espejos .producto1 img {
      height: 150px; }
    .caja-espejos .producto2 img {
      height: 150px;
      margin-top: -45px; }
    .caja-espejos .producto3 img {
      height: 150px; }
    .caja-espejos .producto4 {
      grid-column: 1 / 2;
      grid-row: 2/4; }
      .caja-espejos .producto4 img {
        height: 150px;
        margin-top: 60px; }
    .caja-espejos .producto5 {
      grid-column: 2 / 3;
      grid-row: 3/5; }
      .caja-espejos .producto5 img {
        height: 150px; }
    .caja-espejos .producto6 {
      grid-column: 3/4;
      grid-row: 2/4; }
      .caja-espejos .producto6 img {
        height: 150px;
        margin-top: 60px; }
    .caja-espejos .producto7 {
      grid-column: 1 / 2;
      grid-row: 3/5; }
      .caja-espejos .producto7 img {
        height: 150px;
        margin-top: 105px; }
    .caja-espejos .producto8 {
      grid-column: 2/3;
      grid-row: 4/6; }
      .caja-espejos .producto8 img {
        height: 150px;
        margin-top: 45px; }
    .caja-espejos .producto9 {
      grid-column: 3/4;
      grid-row: 3/5; }
      .caja-espejos .producto9 img {
        height: 150px;
        margin-top: 105px; }
  .caja-principal {
    height: 250px;
    margin: 0;
    margin-bottom: 60px; }
    .caja-principal .items {
      height: 250px; }
      .caja-principal .items h1 {
        margin-top: 15px;
        font-family: "Gideon Roman", serif;
        font-size: 25px;
        text-align: center; }
      .caja-principal .items h2 {
        font-family: "Gideon Roman", serif;
        font-size: 10px;
        text-align: center;
        align-self: flex-start;
        margin-top: 0; }
      .caja-principal .items .boton-enviar {
        padding: 4.5px 8px;
        border: 0;
        border-radius: 100px;
        margin-bottom: 20px; }
      .caja-principal .items .caja-contacto {
        width: 100px; }
        .caja-principal .items .caja-contacto .caja-formulario {
          width: 100px; }
          .caja-principal .items .caja-contacto .caja-formulario .formulario {
            width: 100px;
            margin-top: -50px;
            height: 100px; }
            .caja-principal .items .caja-contacto .caja-formulario .formulario input {
              width: 100px;
              height: 12px; }
            .caja-principal .items .caja-contacto .caja-formulario .formulario label {
              font-size: 10px; }
            .caja-principal .items .caja-contacto .caja-formulario .formulario textarea {
              width: 100px;
              height: 30px; } }

@media (max-width: 320px) {
  header {
    height: 100px; }
    header .elementos-nav a {
      font-size: 7px;
      letter-spacing: 1px;
      font-weight: 500; }
    header .elementos-nav ul {
      justify-content: center;
      gap: 15px; }
  .sobre-mi {
    grid-template-rows: repeat(8, 1fr);
    margin-top: -25px;
    height: 500px;
    margin-bottom: -35px; }
    .sobre-mi .sobre-mi-texto {
      margin: 15px;
      margin-left: 12.5px;
      height: 180px; }
      .sobre-mi .sobre-mi-texto h2 {
        font-size: 18px; }
      .sobre-mi .sobre-mi-texto p {
        font-size: 6px; }
    .sobre-mi .chromatica-texto {
      grid-column: 1 / 2;
      grid-row: 4 / 8;
      margin: 15px;
      margin-right: 12.5px; }
    .sobre-mi .foto-chromatica {
      grid-column: 2 / 3;
      grid-row: 4/8;
      margin: 15px;
      margin-left: 12.5px;
      height: 200px; }
      .sobre-mi .foto-chromatica img {
        height: 200px; }
    .sobre-mi .foto-sobre-mi {
      display: flex;
      margin: 15px;
      margin-right: 12.5px; }
      .sobre-mi .foto-sobre-mi img {
        height: 200px; }
  .productos .producto1 {
    margin: 15px;
    margin-right: 7.5px; }
    .productos .producto1 img {
      height: 150px; }
  .productos .producto2 {
    margin: 15px;
    margin-right: 7.5px;
    margin-left: 7.5px; }
    .productos .producto2 img {
      height: 150px;
      margin-top: -60px; }
  .productos .producto3 {
    margin: 15px;
    margin-left: 7.5px; }
    .productos .producto3 img {
      height: 150px; }
  .productos .producto4 {
    margin: 15px;
    margin-right: 7.5px; }
    .productos .producto4 img {
      height: 150px;
      margin-top: 45px; }
  .productos .producto5 {
    margin: 15px;
    margin-right: 7.5px;
    margin-left: 7.5px; }
    .productos .producto5 img {
      height: 150px;
      margin-top: -15px; }
  .productos .producto6 {
    margin: 15px;
    margin-left: 7.5px; }
    .productos .producto6 img {
      height: 150px;
      margin-top: 45px; }
  .productos .producto7 {
    margin: 15px;
    margin-right: 7.5px; }
    .productos .producto7 img {
      height: 150px;
      margin-top: 90px; }
  .productos .producto8 {
    margin: 15px;
    margin-right: 7.5px;
    margin-left: 7.5px; }
    .productos .producto8 img {
      height: 150px;
      margin-top: 30px; }
  .productos .producto9 {
    margin: 15px;
    margin-left: 7.5px; }
    .productos .producto9 img {
      height: 150px;
      margin-top: 90px; }
  .caja-principal {
    height: 200px;
    margin: 0;
    margin-bottom: 30px; }
    .caja-principal .items {
      height: 200px; }
      .caja-principal .items h1 {
        margin-top: 15px;
        font-family: "Gideon Roman", serif;
        font-size: 23px;
        text-align: center; }
      .caja-principal .items h2 {
        font-family: "Gideon Roman", serif;
        font-size: 10px;
        text-align: center;
        align-self: flex-start;
        margin-top: 0; }
      .caja-principal .items .boton-enviar {
        margin-top: 15px;
        padding: 1px 8px;
        border: 0;
        border-radius: 100px;
        margin-bottom: 5px;
        font-size: 10px; }
      .caja-principal .items .caja-contacto {
        width: 100px; }
        .caja-principal .items .caja-contacto .caja-formulario {
          width: 100px; }
          .caja-principal .items .caja-contacto .caja-formulario .formulario {
            width: 100px;
            margin-top: -15px;
            height: 100px; }
            .caja-principal .items .caja-contacto .caja-formulario .formulario input {
              width: 100px;
              height: 12px; }
            .caja-principal .items .caja-contacto .caja-formulario .formulario label {
              font-size: 10px; }
            .caja-principal .items .caja-contacto .caja-formulario .formulario textarea {
              width: 100px;
              height: 30px; } }
