@media (max-width: 320px) {
    header {
        height: 100px;
        .elementos-nav {
            a {
            font-size: 7px;
            letter-spacing: 1px;
            font-weight: 500;}
            ul{
                justify-content: center;
                gap: 15px;
            }
        }
    }
    .sobre-mi {
        grid-template-rows: repeat(8, 1fr);
        margin-top: -25px;
        height: 500px;
        margin-bottom: -35px;
        .sobre-mi-texto {
            margin: 15px;
            margin-left: 12.5px;
            height: 180px;
            h2 {
                font-size: 18px;
            }
            p {
                font-size: 6px;
            }
        }
        .chromatica-texto {
            grid-column: 1 / 2;
            grid-row: 4 / 8;
            margin: 15px;
            margin-right: 12.5px;
        }
        .foto-chromatica {
            grid-column: 2 / 3;
            grid-row: 4/8;
            margin: 15px;
            margin-left: 12.5px;
            height: 200px;
            img {
                height: 200px;
            }
        }
        .foto-sobre-mi {
            display: flex;
            margin: 15px;
            margin-right: 12.5px;
            img {
                height: 200px;
            }
        }
    }
    .productos {
        .producto1 {
            margin: 15px;
            margin-right: 7.5px;
            img {
                height: 150px;
            }
        }
        .producto2 {
            margin: 15px;
            margin-right: 7.5px;
            margin-left: 7.5px;
            img {
                height: 150px;
                margin-top: -60px;
            }
        }
        .producto3 {
            margin: 15px;
            margin-left: 7.5px;
            img {
                height: 150px;
            }
        }
        .producto4 {
            margin: 15px;
            margin-right: 7.5px;
            img {
                height: 150px;
                margin-top: 45px;
            }
        }
        .producto5 {
            margin: 15px;
            margin-right: 7.5px;
            margin-left: 7.5px;
            img {
                height: 150px;
                margin-top: -15px;
            }
        }
        .producto6 {
            margin: 15px;
            margin-left: 7.5px;
            img {
                height: 150px;
                margin-top: 45px;
            }
        }
        .producto7 {
            margin: 15px;
            margin-right: 7.5px;
            img {
                height: 150px;
                margin-top: 90px;
            }
        }
        .producto8 {
            margin: 15px;
            margin-right: 7.5px;
            margin-left: 7.5px;
            img {
                height: 150px;
                margin-top: 30px;
            }
        }
        .producto9 {
            margin: 15px;
            margin-left: 7.5px;
            img {
                height: 150px;
                margin-top: 90px;
            }
        }
    }
    .caja-principal {
        height: 200px;
        margin: 0;
        margin-bottom:30px;
        .items {
            height: 200px;
            h1 {
                margin-top: 15px;
                font-family: "Gideon Roman", serif;
                font-size: 23px;
                text-align: center;
            }
            h2 {
                font-family: "Gideon Roman", serif;
                font-size: 10px;
                text-align: center;
                align-self: flex-start;
                margin-top: 0;
            }
            .boton-enviar {
                margin-top: 15px;
                padding: 1px 8px;
                border: 0;
                border-radius: 100px;
                margin-bottom: 5px;
                font-size: 10px;
            }
            .caja-contacto{
                width: 100px;
                .caja-formulario{
                    width: 100px;
                    .formulario {
                        width: 100px;
                        margin-top: -15px;
                        height: 100px;
                        input {
                            width: 100px;
                            height: 12px;
                        }
                        label {
                            font-size: 10px;
                        }
                        textarea {
                            width: 100px;
                            height: 30px;
                        }
                    }
                }
        }
    }
}}